* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    overflow: hidden;
    background: #2A7B9B;
    height: 100vh;
    background: linear-gradient(140deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    
}


.container {
    height: 100vh;
    overflow-y: auto;  
    overflow-x: hidden;

    width: 90%;
    margin: 0px auto;
    margin-top: 5px; 
    padding-bottom: 10px;
}

.boxInput {
    padding: 2rem;
    background-color: #f75c4c; 
    text-align: center;

}

.boxInput div {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.boxInput input {
    width: 60%;
    height: 40px;
    /* border-radius: 10px; */
    padding: 10px;
}

.boxInput button {
    width: 20%;
    height: 40px;
}



ul {
    list-style: none;
    width: 100%;
   /* overflow-x: scroll; */
}

ul li {
    width: 100%;
    height: 50px;
    margin-top: 5px;
    font-size: 1.5rem;
    display: flex;
    justify-content: start;
    background-color: #eee;
    cursor: pointer;
    /* gap: 10px; */
    align-items: center;
    overflow: hidden;
    transition: 200ms;

}

ul li div {
    width: 100%;
    padding: 10px; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

ul li .valueItem {
    width: 100%;
    overflow-y: auto;
    padding: 10px;
}

ul li:hover {
    background: #ddd;
}


ul .checked {
    background-color: #888 !important;
    color: white;
}

/*  */
ul li:nth-child(odd) {
    background: #f9f9f9;
}



/* ///////////////////////////////////////icon */
.iconNone {
    display: none; 
    color:green;
    transition: 200ms;
}

.iconNoInlin {
    display: inline;
}




.removeList {
    z-index: 99;
    width: 50px;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.removeList:hover {
    background-color: #f44336;
}